/* App.css */
body{
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  overflow-x: hidden;
}
h1{
  font-size: 50px;
  font-weight: 700;
  color: #3e4948;
  margin: 0;
}
.heading-popup{
  color: #3e4948;
  font-size: 40px;
  font-weight: 600;
  margin:0 auto;
}
.App-header {
    /* background-color: #62b1ac; */
    min-height: 10vh;
    display: flex;
  border-radius:20px ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(35, 35, 35);
}
.App-container{
  overflow: hidden;
}

.App-main {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin:3% 2%;
    width: 300px;
  border-radius:20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 26px -9px rgba(0,0,0,0.75);

}
.row{
  display: flex;
  justify-content: center;
  margin: 0;
}

.Btn{
    display: inline-block;

    padding: 5px 10px;
    font-size: 15px;
  border-radius:10px;
    background-color: #64CCC5;
    color: white;
  margin-top:5%;
    border: none;
    cursor: pointer;
    transition:  0.5s;
}
  .button-container {
    /* width: 75%; */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: To vertically align the buttons */
}


.Btn:hover {
    background-color: #35A29F;
  color:#ffff;
}
img{
  margin-bottom: 5%;
}

/* Example modal styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
input{
  width: 70%;
  padding: 10px;
  margin: 1% auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
p{
  font-size: 20px;
  margin: 0 auto;
  margin-top: 5%;
}
.transferBtn{
  width: fit-content;
  margin: 0 auto;
}
.close{
  color: rgb(41, 40, 40);
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-top: -5px;
}
/* Other styling for your buttons and input fields */
